<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>博士娃幼儿园每周菜谱</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">  
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table">
	<caption>2019/2/18-2019/2/22</caption>
   <thead>
      <tr>
         <th></th>
         <th>早点</th>
		 <th>午餐</th>
		 <th>午点</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>周一</td>
         <td>面包</td>
		 <td>馒头</td>
		 <td>饺子</td>
      </tr>
      <tr>
         <td>周二</td>
         <td>面包</td>
		 <td>馒头</td>
		 <td>饺子</td>
      </tr>
	  <tr>
         <td>周三</td>
         <td>面包</td>
		 <td>馒头</td>
		 <td>饺子</td>
      </tr>
	  <tr>
         <td>周四</td>
         <td>面包</td>
		 <td>馒头</td>
		 <td>饺子</td>
      </tr>
	  <tr>
         <td>周五</td>
         <td>面包</td>
		 <td>馒头</td>
		 <td>饺子</td>
      </tr>
   </tbody>
</table>

</body>
</html>